argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
black
bleach
Brotli
certifi
cffi
click
colorama
cycler
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
defusedxml
entrypoints
executing
Flask
Flask-Caching
Flask-Compress
Flask-Login
fonttools
ipykernel
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
kiwisolver
lightgbm
MarkupSafe
matplotlib
matplotlib-inline
mistune
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pathspec
pickleshare
Pillow
platformdirs
plotly
prometheus-client
prompt-toolkit
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pywin32
pywinpty
pyzmq
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
stack-data
tenacity
terminado
testpath
threadpoolctl
tomli
tornado
traitlets
typing_extensions
wcwidth
webencodings
Werkzeug
wincertstore
